<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logonegro"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logonegro"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mygym"
        tools:targetApi="31">

        <!-- Actividad de registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Actividad de inicio de sesión (cambia a ser la principal) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>

            <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.Mygym" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MAIN ACTIVITY -->


    </application>

</manifest>
